<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
  <script src="/js/room.js" type="module"></script>
</head>
<body data-room-id="<%= room.id %>" data-player-id="<%= playerId %> ">
<div class="main">
	<div class="room">
    <div class="game">
      <div class="game__header">
        <h1 class="game__header__text">Tic tac toe</h1>
      </div>
      <div class="game__board">
        <div class="game__board__cell"></div>
        <div class="game__board__cell"></div>
        <div class="game__board__cell"></div>
        <div class="game__board__cell"></div>
        <div class="game__board__cell"></div>
        <div class="game__board__cell"></div>
        <div class="game__board__cell"></div>
        <div class="game__board__cell"></div>
        <div class="game__board__cell"></div>
      </div>
      <div class="game__players">
        <!-- <ol class="game__players__list">
          <% room.users.forEach((user, number) => { %>
            <li class="game__players__list__item">
              <i class="fa fa-user fa-user--green" aria-hidden="true"></i>
              <%- ": " + user ? user : '?' %>
            </li>
          <% }) %>
        </ol> -->
        <ol class="game__players__list">
          <li class="game__players__list__item">
            <i class="fa fa-user fa-user--green" aria-hidden="true"></i> :
            <span id="player-1-name">???...</span>
          </li>
          <li class="game__players__list__item">
            <i class="fa fa-user fa-user--green" aria-hidden="true"></i> :
            <span id="player-2-name">???...</span>
          </li>
        </ol>
      </div>
      <div class="room__invitation">
        <button class="room__invitation__button" data-roomId="<%= room.id %>">Invite</button>
        <span class="copy__feedback copy__feedback--hidden">Room Id copied to clipboard!</span>
      </div>
    </div>
	</div>
</div>
  <%- include("../partials/footer") %>
  <script src="/socket.io/socket.io.js"></script>
</body>
</html>
